<h1 class="center">Liste de pokémons</h1>

<div class="center section">
  @if (isLoggedIn) {
    <a class="btn waves-effect waves-light" (click)="addPokemon()">Ajouter un pokémon</a>
  }
  <a class="btn waves-effect waves-light" (click)="comparePokemons()">Comparer des pokémons</a>
</div>

<search-pokemon></search-pokemon>

<div class="container">
  <div class="row" [@listAnimation]="pokemons.length">
    @for (pokemon of pokemons; track pokemon.id) {
      <div class="col s6 m4" @cardAnimation>
        <pkmnBorderCard class="card horizontal" (click)="selectPokemon(pokemon)">
          <div class="card-image">
            <img [src]="pokemon.picture" alt="img" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ pokemon.name }}</p>
              <p>Rareté: <span [innerHTML]="pokemon.rarity | pokemonRarity"></span></p>
              <p>
                <small>{{ pokemon.created | date: 'dd/MM/yy' }}</small>
              </p>
              @for (type of pokemon.types; track $index) {
                <span class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              }
            </div>
          </div>
        </pkmnBorderCard>
      </div>
    }
  </div>
</div>
