<h1 class="center">⭐ Pokémons favoris</h1>

<div class="container">
  <div class="row">
    @if (pokemons.length === 0) {
      <p class="center" style="color: var(--color-text-secondary); margin-top: 2rem">
        Aucun pokémon en favori pour l'instant.
      </p>
    }
    @for (pokemon of pokemons; track pokemon.id) {
      <div class="col s6 m4">
        <pkmnBorderCard class="card horizontal" (click)="selectPokemon(pokemon)">
          <div class="card-image">
            <img [src]="pokemon.picture" alt="img" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ pokemon.name }} ★</p>
              <p>Rareté: <span [innerHTML]="pokemon.rarity | pokemonRarity"></span></p>
              <p>
                <small>{{ pokemon.created | date: 'dd/MM/yy' }}</small>
              </p>
              @for (type of pokemon.types; track $index) {
                <span class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              }
            </div>
          </div>
        </pkmnBorderCard>
      </div>
    }
  </div>
</div>
